Package: python-sk1
Version: <VERSION>
Architecture: <PLATFORM>
Maintainer: Igor Novikov <igor.e.novikov@gmail.com>
Depends: libc6, libcairo2, libfreetype6, libx11-6, libxext6, tcl8.5 (>= 8.5.0), tk8.5 (>= 8.5.0), zlib1g, python (>=2.4), python (<3.0), python-sk1libs, python-sk1sdk
Section: Python Programming Language
Priority: extra
Description: Vector graphics editor for prepress
 .
 sK1 is an open source vector graphics editor similar to CorelDRAW, Adobe Illustrator, or Freehand.
 First of all sK1 is oriented for prepress industry, therefore works with CMYK colorspace and
 produces CMYK-based PDF and postscript output.
 sK1 Team (http://sk1project.org), copyright (C) 2003-2010 by Igor E. Novikov.
 .

